.products{
    margin-left: 5px;
    margin-top: 10px;
}
.spaceInput{
    width: 1000px;
    height: 100px;
    padding-left: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.spaceBetween{
    margin-right: 100px;
}
.submitButton{
    margin-left: 900px;
    margin-bottom: 20px;
}
.submitButton:hover{
    box-shadow: 20px 20px 10px rgb(90, 159, 182);
}

.formContainer{
    background-color: #ecfdfb;
    border-radius: 0px;
    height: 700px;
    width: 124%;
}
